<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1,
     user-scalable=no">
    <title>黑市</title>

    <script type="text/javascript" src="./js/jquery.js"></script>
    <script type="text/javascript" src="./js/bootstrap.js"></script>
    <script type="text/javascript" src="./js/vue.js"></script>
    <script type="text/javascript" src="js/component.js"></script>
    <script type="text/javascript" src="js/util.js"></script>

    <link rel="stylesheet" href="./css/bootstrap.css">
    <style>
        .border {
            border-right: 1px solid #0f0f0f;
        }

        .table th, .table td {
            text-align: center;
            vertical-align: middle !important;
        }
    </style>

</head>
<body>
<div id="all">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-offset-1 col-md-5 col-sm-offset-1 col-sm-5 border">
                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th>商品</th>
                        <th>价格￥</th>
                        <th>基本价格￥</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="active" v-for="product in product_list">
                        <td>{{product.name}}</td>
                        <td>{{product.current_price.toLocaleString('en-US')}}</td>
                        <td>{{product.base_price.toLocaleString('en-US')}}</td>
                        <td>
                            <button type="button" class="btn btn-info"
                                    v-on:click="buy_dialog(product._id,product.name,product.current_price)">
                                BUY
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-5 col-sm-5" id="mystock">
                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th>商品</th>
                        <th>平均采购价格￥</th>
                        <th>数量</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="active" v-for="stock in stock_list">
                        <td>{{stock.name}}</td>
                        <td>{{stock.buy_price.toLocaleString('en-US')}}</td>
                        <td>{{stock.quantity}}</td>
                        <td>
                            <button type="button" class="btn btn-info"
                                    v-on:click="sell_dialog(stock)">SELL
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <foot-bar ref="bottomBar"></foot-bar>

    <!-- Modal -->
    <div class="modal fade" id="buyDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="buyModalLabel">您打算买多少{{dialog.goods_name}}？</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <input type="number" class="form-control" id="buyAmount"
                                   placeholder="请输入数量" min="0" step="1" v-model="dialog.amount">
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <span class="glyphicon glyphicon-yen"></span>
                                </div>
                                <input type="number" class="form-control" id="buyPrice" value="0"
                                       min="0" step="1" readonly
                                       v-bind:value="dialog.amount*dialog.goods_price">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">我再想想</button>
                    <button type="button" class="btn btn-primary" @click="buy">确认支付</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="sellDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="sellModalLabel">
                        您打算卖出多少{{dialog.goods_name}}？
                    </h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <input type="number" class="form-control" id="sellAmount"
                                   placeholder="请输入数量" v-bind:max="dialog.max_sell_amount"
                                   min="0" step="1" v-model="dialog.amount">
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <span class="glyphicon glyphicon-yen"></span>
                                </div>
                                <input type="number" class="form-control" id="sellPrice" value="0"
                                       min="0" step="1" readonly
                                       v-bind:value="dialog.amount*dialog.sell_price" >
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">我再想想</button>
                    <button type="button" class="btn btn-primary" @click="sell">确认出售</button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

<script>
    Vue.component('foot-bar', bottomBar)
    var vue = new Vue({
        el: '#all',
        data: {
            product_list: [],
            stock_list: [],
            dialog: {
                goods_id: '',
                goods_name: '',
                goods_price: 0,
                amount: 0,
                sell_price: 0,
                sell_product_id: '',
                max_sell_amount: 99999
            },
        },
        methods: {
            reload: function () {
                var this_ = this;
                this_.loaded();
                vue.$refs.bottomBar.Load();
            },
            loaded: function () {
                var this_ = this;
                quest(API.marketInfo, {placeId: GetUrlParamter("id")}, function (data) {
                    if (data.code == 200) {
                        this_.product_list = data.market_products
                        this_.stock_list = data.mystock
                    }
                });
            },
            buy_dialog: function (id, name, price) {
                var this_ = this;
                this_.cleanDialog()
                this_.dialog.goods_id = id;
                this_.dialog.goods_name = name;
                this_.dialog.goods_price = price;
                $('#buyDialog').modal('show')
            },
            sell_dialog: function (stock) {
                var this_ = this;
                this_.cleanDialog()
                this_.dialog.goods_id = stock._id;
                this_.dialog.goods_name = stock.name;
                this_.dialog.max_sell_amount = stock.quantity;
                this_.dialog.sell_product_id = stock.product_id;
                this_.product_list.forEach(function (product) {
                    if (product._id == stock.product_id) {
                        this_.dialog.sell_price = product.current_price;
                        console.log(this_.dialog.sell_price)
                    }
                })
                $('#sellDialog').modal('show')
            },
            cleanDialog: function () {
                var this_ = this;
                this_.dialog.goods_id = '';
                this_.dialog.goods_name = '';
                this_.dialog.max_sell_amount = 0;
                this_.dialog.amount = 0;
                this_.dialog.sell_price = 0;
                this_.dialog.sell_product_id = '';
            },
            buy: function () {
                var this_ = this;
                if (this_.dialog.amount <= 0) {
                    alert('数量不能为0');
                    return
                }
                console.log(
                    (this_.dialog.amount * this_.dialog.goods_price) , vue.$refs.bottomBar.state.money
                )
                if ((this_.dialog.amount * this_.dialog.goods_price) > vue.$refs.bottomBar.state.money) {
                    alert("你没有那么多钱");
                    return;
                }
                if ((parseInt(this_.dialog.amount) + vue.$refs.bottomBar.state.stocked)
                    > vue.$refs.bottomBar.state.stock) {
                    alert("仓库放不下那么多东西");
                    return;
                }
                quest(API.buy, {
                    productId: this_.dialog.goods_id,
                    amount: parseInt(this_.dialog.amount)
                }, function (data) {
                    if (data.code == 200) {
                        alert('购买成功，你花费了'+data.cost+'￥')
                        this_.reload()
                    } else {
                        alert(data.msg)
                    }
                    $('#buyDialog').modal('hide')
                });
            },
            sell: function () {
                var this_ = this;
                var sellable = false;
                if (this_.dialog.max_sell_amount<this_.dialog.amount){
                    alert('你的库存数量不足');
                    return;
                }
                this_.product_list.forEach(function (product) {
                    if (product._id == this_.dialog.sell_product_id)
                        sellable = true;
                })
                if (!sellable) {
                    alert('此处不收购此种商品');
                    return
                }
                if (this_.dialog.amount <= 0) {
                    alert('出售数量不能为0');
                    return;
                }
                quest(API.sell, {
                    goodsId: this_.dialog.goods_id,
                    amount: parseInt(this_.dialog.amount)
                }, function (data) {
                    if (data.code == 200) {
                        alert('出售成功，你赚了'+data.earn+'￥')
                        this_.reload()
                    } else {
                        alert(data.msg)
                    }
                    $('#sellDialog').modal('hide')
                });
            },
        },
        created() {
            var this_ = this;
            var msg='';
            quest(API.marketInit, {placeId: GetUrlParamter("id")}, function (result) {
                if(result.event&&result.event!=''){
                    for(var index in result.event){
                        msg=msg+result.event[index]+'\n'
                    }
                }
            });
            this_.loaded()
            setTimeout(function () {
                alert(msg);
                if(vue.$refs.bottomBar.state.health<=0){
                    alert('您牺牲在中国大地了,游戏结束');
                    window.location.href = web_root + "/index.html"
                }
                if(vue.$refs.bottomBar.state.date>40){
                    alert('您的时间耗尽,游戏结束');
                    window.location.href = web_root + "/index.html"
                }
            },2000);
        }
    })
</script>

</html>