<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>黑市</title>

    <script type="text/javascript" src="./js/jquery.js"></script>
    <script type="text/javascript" src="./js/bootstrap.js"></script>
    <script type="text/javascript" src="./js/vue.js"></script>
    <script type="text/javascript" src="js/component.js"></script>
    <script type="text/javascript" src="js/util.js"></script>

    <link rel="stylesheet" href="./css/bootstrap.css">
    <style>
        .border {
            border-right: 1px solid #0f0f0f;
        }

        .table th, .table td {
            text-align: center;
            vertical-align: middle !important;
        }
    </style>

</head>
<body>

<div id="all">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-offset-2 col-md-4 border">
                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th>商品</th>
                        <th>价格￥</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="active" v-for="product in product_list">
                        <td>{{product.name}}</td>
                        <td>{{product.price}}</td>
                        <td>
                            <button type="button" class="btn btn-info" v-on:click="buy(product.id)">BUY</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-4" id="mystock">
                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th>商品</th>
                        <th>平均采购价格￥</th>
                        <th>数量</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="active" v-for="stock in stock_list">
                        <td>{{stock.name}}</td>
                        <td>{{stock.buy_price}}</td>
                        <td>{{stock.quantity}}</td>
                        <td>
                            <button type="button" class="btn btn-info" v-on:click="sell(stock.id)">SELL</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <foot-bar></foot-bar>
</div>
</body>

<script>
    Vue.component('foot-bar', bottomBar)
    new Vue({
        el: '#all',
        data: {
            product_list: [],
            stock_list: []
        },
        methods: {
            buy: function (id) {
                console.log("采购商品：" + id)
            },
            sell: function (id) {
                console.log("出售商品：" + id)
            }
        },
        created() {
            var this_ = this;
            var place_id = GetQueryString("id");
            quest(API.marketInit, {placeId: place_id}, function (data) {
                if (data.code == 200) {
                    this_.product_list = data.market_products
                    this_.stock_list = data.mystock
                }
            });
        }
    })


</script>

</html>